__pycache__
.ipynb_checkpoints
*.ai
*.db
*.doc
*.docx
*.gsheet
*.h5
*.html
*.indd
*.npy
*.pdf
*.png
*.ppt
*.pptx
*.svg
*.tex
~$*
Icon*

/.env
/.idea
/.vscode
/*.xlsx
/Backups
/Draft*
/MongoDB*
/Notebooks *
/Packages/fermitools
/Pipfile*
/Reports

/Data/*
!/Data/*.json
!/Data/*.xlsx
!/Data/*.yaml
