[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
importlib_resources = "*"
cloudpickle = "*"
pyyaml = "*"
numba = "*"
ipython = ">=7"
ipykernel = ">=5"
notebook = ">=5.3"
jupyterlab = "*"
numpy = "*"
pandas = "*"
scipy = "*"
sympy = "*"
matplotlib = "*"
lmfit = "*"
holoviews = "*"
altair = "*"
jupyter_contrib_nbextensions = "*"
nbresuse = "*"
nbdime = "*"
vmitools = {git = "https://github.com/DaehyunPY/vmitools.git"}

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.6"
